.button{
    height: 50px;
    width: 50px;
    /* background-color: black; */
    padding: 50px;
    display: inline-block;
    border: 2px solid black;
}
span{
    display: block;
}
.main{
    display:inline-block;
    margin: 100px auto 100px;
    text-align: center;
}
#green{
    background-color: green;
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#orange{
    background-color: orange;
}
#gray{
    background-color: gray;
}